<div class="px-4 text-center" style="color: white">
  <h1 class="display-5 fw-bold">Read Me</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      In this puzzle game I tried to handle game functions from both front-end
      and back-end and front-end only. You can choose that option from <br /><i
        >environment.ts -> connectedWithAPI: true / false</i
      >. <br />
      <br />
      To run this project first open montyhall project main folder and navigate
      using 'cd montyhall' to attach with the project.<br /><br />
      Set number of rounds before start the game.Then you can play the game
      until given rounds completed.This puzzle game is developed to reach the
      required scope as much as possible and with extra things like page
      navigations.
      <br /><br />In GitHub it's showing two committed persons.Those all
      accounts are my GitHub accounts. Contact me if you want to confirm.
      <br /><br />I could be able to commit only my front-end project to Github.
      I sent WebAPI project and Testing project as zipped files in the email.
    </p>
  </div>
</div>
